:host {
  cursor: pointer;
  aspect-ratio: 1;

  .perk-main {
    background-color: rgb(19, 24, 31);
    border-radius: 5px;
    border: 2px solid white;
    position: relative;
    &:hover {
      background-color: rgb(250, 250, 250);
      color: black;
      .perk-amount {
        .perk-amount-text {
          background-color: rgb(250, 250, 250);
          color: black;
        }
      }
    }
    .perk-inner {
      width: 100%;
      height: 100%;
      padding-bottom: 0.5rem;
      border: 3px solid black;
    }
    div {
      text-align: center;
    }
    .perk-icon {
      img {
        margin: 3px auto;
      }
      &:hover {
        border-radius: 5px;
      }
    }
    .perk-amount {
      position: absolute;
      width: 100%;
      background-color: transparent;
      .perk-amount-text {
        width: auto;
        background-color: rgb(56, 66, 77);
        border: 2px solid rgb(46, 52, 60);
        border-radius: 5px;
        padding: 1px 10px;
      }
    }
    &.perked &.selected {

    }
    &.unperked {
      img.perk {
        filter: brightness(0) saturate(100%) invert(60%) sepia(1%) saturate(1737%) hue-rotate(169deg) brightness(87%) contrast(77%);
      }
    }
    &.selected {
      .perk-inner {
        border-color: black;
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
        .perk-icon {
          background-color: inherit;
          img {
            filter: brightness(0) saturate(100%) invert(18%) sepia(13%) saturate(739%) hue-rotate(174deg) brightness(97%) contrast(89%);
          }
        }
        .perk-amount {
          .perk-amount-text {
            background-color: rgb(250, 250, 250);
            color: black;
          }
        }
      }
    }
  }
}
