<div
  [ngClass]="this.systemService.selectedSquadId() === squadSignal().id ? 'selected' : ''"
  class="flex flex-row border-black border-2 p-2 gap-2 hover:cursor-pointer hover:bg-gray-500"
  (click)="selectSquad()"
>
  <div class="flex items-center gap-2">
    <img src="../../../assets/images/soldierTypes/{{getSquadIcon()}}" alt="Squad icon" />
  </div>
  <div class="flex flex-col ml-auto action-bar">
    <div>
      <button class="w-4" (click)="moveSquadUp($event)">
        <img src="../../../assets/images/up-arrow.svg" />
      </button>
    </div>
    <div>
      <button (click)="moveSquadDown($event)">
        <img class="scale-y-[-1] w-4" src="../../../assets/images/up-arrow.svg" />
      </button>
    </div>
    <div>
      <button (click)="deleteSquad($event)">
        <img class="w-4" src="../../../assets/images/delete.svg" />
      </button>
    </div>
  </div>
</div>
