.perk-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .amountMobility {
    color: rgb(150, 255, 150);
  }
  .amountVitality {
    color: rgb(255, 150, 150);
  }
  .amountHandling {
    color: rgb(255, 255, 150);
  }
  img {
    width: 3em;
  }
}

.perk-container {
  background-color: rgb(56, 66, 77);
  padding: 1rem;
  .perks-locked {
    height: 2rem;
    .locked-text {
      height: 1.8rem;
      margin: auto;
      font-size: 1rem;
      img {
        height: 80%;
      }
    }
  }
}
