<div class="flex flex-row">
  <div class="w-5/6">
    <p>
      Perk overview shown for {{overviewFacade.selectedSoldierId()}}
    </p>
    <div class="flex gap-x-2 flex-row">
      @for(perkType of perkTypeArray; track perkType){
        <div class="perk-container flex w-1/3 gap-y-10 flex-col items-stretch">
          @for(level of levelsArray; track level) {
            <div class="flex flex-row gap-y-10 gap-x-2 flex-wrap justify-center items-center">
              @for(mobilityPerk of getPerksByTypeAndLevel(perkType, level); track mobilityPerk) {
                <app-perk
                  [isSelected]="mobilityPerk.id === selectedPerkId()"
                  (perkClicked)="perkClicked($event)"
                  (perkRightClicked)="perkRightClicked(mobilityPerk.id)"
                  [selectedAmountForPerk]="selectedAmountForPerk(mobilityPerk.id)"
                  [perk]="mobilityPerk"
                ></app-perk>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="w-1/6">
    @if(selectedPerkId() !== null) {
      <app-selected-perk
        [selectedPerkId]="selectedPerkId()"
        [selectedAmountForPerk]="selectedAmountForPerk(selectedPerkId())"
        (perkClicked)="perkClicked($event)"
        (perkRightClicked)="perkRightClicked($event)"
      ></app-selected-perk>
    }
  </div>
</div>
