<div
  [ngClass]="soldierId() === systemService.selectedSoldierId() ? 'selected': ''"
  class="flex flex-row border-black border-2 p-2 gap-2"
  (click)="selectSoldier()"
>
    <app-soldier-type-selector
      [soldierTypeId]="soldierSignal().soldierTypeId"
      [soldierTypeLevel]="soldierSignal().soldierTypeLevel"
      (soldierTypeChange)="soldierTypeChange($event)"
      (soldierTypeLevelChange)="soldierTypeLevelChange($event)"
    ></app-soldier-type-selector>
    <div>
      <div
        [class.under]="isPerkPointsLowerThanMax('mobility')"
        [class.equal]="isPerkPointsEqualToMax('mobility')"
        [class.higher]="isPerkPointsHigherThanMax('mobility')"
      >
        {{soldierSignal().getPerkPointsSpend().mobility}}
        @if(isPerkPointsEqualToMax('mobility')){
          *
        }
      </div>
      <div
        [class.under]="isPerkPointsLowerThanMax('vitality')"
        [class.equal]="isPerkPointsEqualToMax('vitality')"
        [class.higher]="isPerkPointsHigherThanMax('vitality')"
      >
        {{soldierSignal().getPerkPointsSpend().vitality}}
        @if(isPerkPointsEqualToMax('vitality')){
          *
        }
      </div>
      <div
        [class.under]="isPerkPointsLowerThanMax('handling')"
        [class.equal]="isPerkPointsEqualToMax('handling')"
        [class.higher]="isPerkPointsHigherThanMax('handling')"
      >
        {{soldierSignal().getPerkPointsSpend().weaponHandling}}
        @if(isPerkPointsEqualToMax('handling')){
          *
        }
      </div>
  </div>
  <div class="flex flex-col">
    <div>
      <button class="w-4" (click)="moveSoldierUp($event)">
        <img src="../../../assets/images/up-arrow.svg" />
      </button>
    </div>
    <div>
      <button (click)="moveSoldierDown($event)">
        <img class="scale-y-[-1] w-4" src="../../../assets/images/up-arrow.svg" />
      </button>
    </div>
    <div>
      <button (click)="copySoldier($event)">
        <img class="w-4" src="../../../assets/images/copy.svg"/>
      </button>
    </div>
    <div>
      <button (click)="deleteSoldier(soldierId(), $event)">
        <img class="w-4" src="../../../assets/images/delete.svg"/>
      </button>
    </div>
  </div>
</div>
