<div class="flex items-center flex-col">
  <div>
    <app-perk
      [selectedAmountForPerk]="selectedAmountForPerk()"
      [perk]="selectedPerk()"
      [isSelected]="true"
     ></app-perk>
    {{ selectedPerk()?.text(selectedAmountForPerk()) }}
  </div>
  <div>
    Cost: {{selectedPerk()?.cost}}
  </div>
  <div>
    <button
      [disabled]="selectedAmountForPerk() <= 0"
      (click)="perkRightClicked.emit(selectedPerkId())"
    >
      -1
    </button>
    <button (click)="perkClicked.emit(selectedPerkId())">
      +1
    </button>
  </div>
</div>
