@let localSelectedPerk = selectedPerk();
@if(localSelectedPerk){
<div class="flex items-center flex-col mt-5 h-full">
  <div class="perk-icon">
    <app-perk
      [selectedAmountForPerk]="selectedAmountForPerk()"
      [perk]="localSelectedPerk"
      [isSelected]="false"
     ></app-perk>
    <!-- current bonus -->
    @if( selectedAmountForPerk() > 0){
      <div class="text-center pt-5">
        Current level
      </div>
      <div class="perk-text pt-1">
        {{ localSelectedPerk.text(selectedAmountForPerk()) }}
      </div>
    }
    @if(localSelectedPerk.default === undefined || localSelectedPerk?.default === false){
      <!-- next level -->
      @if(selectedAmountForPerk() + 1 <= localSelectedPerk.maxLevel){
        <div class="perk-text pt-5">
          <div class="text-center">
            Next level
          </div>
          {{ localSelectedPerk.text(selectedAmountForPerk() + 1) }}
        </div>
      }
    } @else if(localSelectedPerk.default === true){
      <div class="perk-text pt-5">
        {{ localSelectedPerk.text(1) }}
      </div>
    }
  </div>
  @if(localSelectedPerk.default === undefined || localSelectedPerk?.default === false){
    <div>
      Cost: {{localSelectedPerk.cost}}
    </div>
    <div class="w-full flex justify-center bottom-0">
      <button
        class="p-1"
        [disabled]="selectedAmountForPerk() <= 0"
        (click)="perkRightClicked.emit(localSelectedPerk)"
      >
        -1
      </button>
      <button
        [disabled]="selectedAmountForPerk() >= localSelectedPerk.maxLevel"
        class="p-1"
        (click)="perkClicked.emit(selectedPerk())"
      >
        +1
      </button>
    </div>
  }
</div>
}
