/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// https://codepen.io/sosuke/pen/Pjoqqp

img.perk {
  /*sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);*/
  &.perk-0 {
    filter: brightness(0) saturate(100%) invert(78%) sepia(49%) saturate(364%) hue-rotate(67deg) brightness(104%) contrast(103%);
  }
  &.perk-1 {
    filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(863%) hue-rotate(307deg) brightness(107%) contrast(109%);
  }
  &.perk-2 {
    filter: brightness(0) saturate(100%) invert(90%) sepia(44%) saturate(428%) hue-rotate(355deg) brightness(108%) contrast(103%);;
  }
}

body {
  background-color: rgb(19, 24, 31);
  color: #fff;
}

img {
  background-color: unset;
}
